(% extends "layout.html" %)
(% block style %)
  <style>
    #loading-img {
      position: absolute;
      top: 0px;
       right: 0px;
       bottom: 0px;
       left: 0px;
       margin: auto;
    }
    .message-enter-active, .message-leave-active {
      transition: opacity 0.5s;
    }
    .message-enter, .message-leave-to {
      opacity: 0;
    }
    #message-parent {
      width:100%;
    }
    #message {
      position: fixed;
      top: 5px;
      right: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      box-sizing:border-box;
      width:95%;
    }
  </style>
(% endblock %)


(% block content %)
  <header>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
          <strong>Album</strong>
        </a>
      </div>
    </div>
  </header>

  <main role="main">
    <div class="album py-5 bg-light">
      <div class="container">
        <div id="app"></div>
        <!-- loading image -->
        <img src="/static/images/loading.gif" id="loading-img">
      </div>
    </div>
  </main>
(% endblock %)

(% block script %)
  <!-- template for the images component -->
  <script type="text/x-template" id="images-template">
    <div class="row">
      <div class="col-md-4" v-for="image, i in images">
        <div class="card mb-4 box-shadow">
        <img class="card-img-top" v-bind:src="image.url" alt="Card image cap">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <b-button variant="outline-danger" @click="showModal(i)" @keyup.esc="hideModal" type="button" class="btn btn-sm delete-button">削除</b-button>
              </div>
              <small class="text-muted">{{ image.saved_datetime | minsAgo}}</small>
            </div>
          </div>
        </div>
      </div>

      <!-- modal -->
      <b-modal ref="confirm" hide-footer hide-header>
        <div class="d-block text-center">
          <p>本当に削除しますか？</p>
        </div>
        <b-button class="delete-button" variant="success" block @click="hideModal">いいえ</b-button>
        <b-button class="delete-button" variant="danger" block @click="deleteImage">はい</b-button>
      </b-modal>

      <!-- message -->
      <transition name="message">
        <div v-if="messageActive" id="message-parent">
          <div id="message">
            <b-alert :show="dismissCountDown" v-bind:variant="variant" @dismiss-count-down="countDownChanged">
              {{ message }}
            </b-alert>
          </div>
        </div>
      </transition>

    </div>
  </script>

  <script>
    var dropbox_api_token = "((dropbox_api_token))";
    var dbx = new Dropbox.Dropbox({ accessToken: dropbox_api_token });
    const app = new Vue({
      el: "#app",
      data: {
        images: [],
        imageIndex: '',
        // message表示用データ
        dismissSecs: 5,
        dismissCountDown: 0,
        message: '',
        variant:'',
        messageActive:false,
      },
      filters: {
        minsAgo(saved_datetime) {
          var saved_datetime_obj = new Date(saved_datetime);
          var now_time_obj = new Date();
          var diff = now_time_obj.getTime() - saved_datetime_obj.getTime();
          var sec = parseInt(diff/1000);
          var min = parseInt(sec/60);
          var hour = parseInt(min/60);
          if (hour > 0) {
            return hour + "hours ago";
          } else if (min > 0)  {
            return min + "mins ago";
          } else {
            return sec + "seconds ago";
          }
        },
      },
      methods: {
        countDownChanged (dismissCountDown) {
          this.dismissCountDown = dismissCountDown
          if (dismissCountDown == 0) {
            this.messageActive = false;
          }
        },
        showMessage: function (success) {
          this.message = success ? "削除しました" : "エラーが発生しました";
          this.variant = success ? "success" : "danger";
          this.dismissCountDown = this.dismissSecs;
          this.messageActive = true;
        },
        deleteImage() {
          var url = location.pathname;
          var tmp = url.split("/");
          var userId = tmp[2];
          var imageIndex = this.imageIndex;
          var image = this.images[imageIndex];
          var url = "/deleteImage/" + userId + "/" + image.filename;
          $(".delete-button").prop("disabled", true);
          axios.post(url)
            .then(response => {
              if (response.data.status == 200) {
                this.showMessage(true);
                this.images.splice(imageIndex, 1);
                this.imageIndex = '';
                this.hideModal();
                $(".delete-button").prop("disabled", false);
              } else {
                this.showMassage(false);
                this.hideModal();
              }
            })
        },
        showModal(i){
          this.imageIndex = i;
          this.$refs.confirm.show()
        },
        hideModal(){
          this.$refs.confirm.hide()
        },
        getSharingLinks: function (i, images, entries) {
          var image = {"url":"","saved_datetime":"","filename":"" };
          var self = this;
          dbx.sharingListSharedLinks({path: entries[i].path_display})
            .then(function(response) {
              image["url"] = response.links[0].url.replace("www.dropbox.com","dl.dropboxusercontent.com").replace("?dl=0","");
              image["filename"] = entries[i].name;
              image["saved_datetime"] = entries[i].client_modified;
              images.push(image);
              self.images = images;
              i++;
              if ( i == entries.length) {
                return console.log(images);
              } else {
                self.getSharingLinks(i, images, entries);
              }
            })
            .catch(function(error) {
              console.error(error);
            });
        },
      },
      created(){
        var url = location.pathname;
        var tmp = url.split("/");
        var userId = tmp[2];
        var path = "/" + userId;
        var images = [];
        var self = this;
        dbx.filesListFolder({path: path})
          .then(function(response) {
            self.getSharingLinks(0, images, response.entries);
            $("#loading-img").fadeOut('slow');
          })
          .catch(function(error) {
            console.error(error);
          });
      },
      template: '#images-template'
    });
  </script>
(% endblock %)
